<!DOCTYPE hibernate-configuration PUBLIC
	"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
	"http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
	<session-factory>
		<!-- 配置连接目标数据库的属性 -->
		<property name="connection.driver_class">oracle.jdbc.OracleDriver</property>
		<property name="connection.username">jsd1609</property>
		<property name="connection.password">jsd1609</property>
		<property name="connection.url">jdbc:oracle:thin:@127.0.0.1:1521:XE</property>
		
		<!-- 配置目标数据库的方言 -->
		<property name="dialect">org.hibernate.dialect.Oracle10gDialect</property>
		
		<!-- 辅助属性[可选] -->
		<property name="show_sql">true</property>
		<property name="format_sql">true</property>
		
		<property name="hbm2ddl.auto">update</property>
		<!-- 配置当前session的上下文 -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- 配置C3P0的连接池 -->
		<property name="c3p0.max_size">5</property>
		<property name="c3p0.min_size">2</property>
		<property name="c3p0.timeout">5000</property>
		<property name="c3p0.max_statements">150</property>
		<property name="c3p0.idle_test_period">3000</property>
		<property name="c3p0.acquire_increment">2</property>
		
		<!-- 开启二级缓存 -->
		<property name="cache.use_second_level_cache">true</property>
		
		<!-- 指定二级缓存供应商 -->
		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		
		<!-- 开启查询缓存 -->
		<property name="cache.use_query_cache">true</property>
		
		<!-- 映射的实体 -->
		<mapping class="com.tz.entity.Employee"/>
		<mapping class="com.tz.entity.User"/>
	</session-factory>
</hibernate-configuration>